<div id="listings">
    
    <% listings.forEach((listing) => { %>

        <div class="listing-card">
            
            <div class="listing-card-top">

                <h3><%= listing.name %></h3>
                
                <div class="listing-image-div">
                    <img class="listing-image" alt="<%=listing.name%>" src="<%=listing.image%>" />
                </div>
                
                <div class="listing-card-info-div">
                
                    <h4>Price: $<%= listing.price %></h4>
                    <% if (!grocer) { %>
                        <% allGrocers.forEach((grocer) => { %>
                            <% if (JSON.stringify(grocer._id) === JSON.stringify(listing.seller)) { %>
                                <p>Sold by <span class="colored-text"><%= grocer.username %></span></p>
                            <% } %>
                        <% }) %>
                    <% } %>
                    <ul>
                        <li> <% if (listing.quantity >= 1) { %>
                            Quantity available: <%= listing.quantity %>
                            <% } else { %>
                                Out of stock...
                                <% if (listing.resupplied) { %>
                                    Back in <%= listing.frequency %> days!
                                <% } %>
                            <% } %>
                        </li>
                        <li>From: <%= listing.from %></li>
                    </ul>
                    <div class="listing-info-div">
                        <%= listing.info %>
                    </div>

                </div>

            </div>

            <div id="listing-buttons">
            
                <% if (user) { %>
                    
                    <!-- grocer viewing his listings -->
                    <% if (user.account === "grocer" && grocer) { %>
                        <!-- need to add logic so you can only change your own listing
                         this is done through the groceries route -->
                        
                        <% if (!grocer.archived) { %>

                            <form action="/groceries/<%=listing._id%>/edit" method="GET">
                                <button type="submit">Edit <%= listing.name %></button>
                            </form>
                            <form action="/groceries/<%=listing._id%>" method="GET">
                                <button type="submit">View <%= listing.name %></button>
                            </form>

                        <% } else if (grocer.archived) { %>
                           
                            <p>Archived listing!</p>
                            <form action="/groceries/<%=listing._id%>/relist" method="POST">
                                <button type="submit">Reactivate <%= listing.name %> listing</button>
                            </form>

                        <% } %>
                    
                    <!-- shopper viewing a listing -->
                    <% } else if (user.account === "shopper") { %>
                        
                        <form action="/market/item/<%=listing._id%>/shop" method="GET">
                            <button class="listings-view-btn" type="submit">View <%= listing.name %></button>
                        </form>
                    
                    <!-- grocer viewing a listing without changing -->
                    <% } else { %>
                    
                        <form action="/market/item/<%=listing._id%>/shop" method="GET">
                            <button class="listings-view-btn" type="submit">View <%= listing.name %></button>
                        </form>

                    <% } %>
                
                <!-- user not signed in viewing items -->
                <% } else { %>

                    <form action="/market/item/<%=listing._id%>" method="GET">
                        <button class="listings-view-btn" type="submit">View <%= listing.name %></button>
                    </form>

                <% } %>

            </div>

        </div>

    <% }) %>
</div>