<%- include('../../partials/layout.ejs') %>

    <h2>Your Archived Listings, <%= user.username %></h2>

    <!-- show listings -->    
    <%- include('../../partials/listings/_listings.ejs') %>
    
    <%- include('../../partials/navigation/_buttons.ejs') %>

<%- include('../../partials/layout-end.ejs') %>