<%- include('../../partials/layout.ejs') %>

    <h2>Sales history for <%= user.username %></h2>

    <%- include('../../partials/navigation/_buttons.ejs') %>

    <div id="past-orders-tables">
        <% sales.forEach(sale => { %>

            <div class="order">
                <h3>Sale from <%=sale.date%></h3>
                <table>
                    <tr>
                        <td class="td-header">Sale total:</td>
                        <td>$<%=sale.total%></td>
                    </tr>
                    <tr>
                        <td class="td-header">Item sold:</td>
                        <td><%=sale.name%></td>
                    </tr>
                    <tr>
                        <td class="td-header">Quantity sold:</td>
                        <td><%=sale.quantity%></td>
                    </tr>
                    <tr>
                        <td class="td-header">Order id:</td>
                        <td><%=sale.orderId%></td>
                    </tr>
                    <tr>
                        <td class="td-header">Buyer:</td>
                        <td><%=sale.buyer%></td>
                    </tr>
                </table>
            </div>

        <% }) %>
    </div>

<%- include('../../partials/layout-end.ejs') %>