<%- include('../../partials/layout.ejs') %>

    <% if (changed) { %>
        <p class="info-msg"><%= listing.name %> has been successfully changed</p>
    <% } %>

    <!-- show item -->
    <%- include('../../partials/listings/_item.ejs') %>
    
    <%- include('../../partials/navigation/_buttons.ejs') %>

<%- include('../../partials/layout-end.ejs') %>