<%- include('../../partials/layout.ejs') %>

    <% if (message && listing) { %>
        <p><%=message%> <%=listing.name%></p>
    <% } %>

    <h2>Your Listings, <%= user.username %></h2>

    <%- include('../../partials/navigation/_buttons.ejs') %>

    <!-- show listings -->    
    <%- include('../../partials/listings/_listings.ejs') %>

<%- include('../../partials/layout-end.ejs') %>