<%- include('../../partials/layout.ejs') %>

    <h2>Here is your cart, <%= user.username %>!</h2>

    <table>
        <tr>
            <td>Grocery item:</td>
            <td>Quantity:</td>
            <td>Price per unit:</td> <!--TODO:-->
            <td>Total:</td> <!--TODO:-->
            <td>Remove item?</td> <!--TODO:-->
        </tr>
        <% itemArray.forEach((item) => { %>
        <tr>
            <td><%=item.name%></td>
            <td><%=item.quantity%></td>
            <td>Price per unit:</td> <!--TODO:-->
            <td>Total:</td> <!--TODO:-->
            <td>Remove item?</td> <!--TODO:-->
        </tr>
        <% }) %>
        <tr>
            <td>Total:</td>
            <td></td>
            <td></td> <!--TODO:-->
            <td>Amount here</td> <!--TODO:-->
            <td>Clear cart</td> <!--TODO:-->
        </tr>
    </table>
    
    <%- include('../../partials/navigation/_buttons.ejs') %>

<%- include('../../partials/layout-end.ejs') %>