<%- include('../../partials/layout.ejs') %>

    <h2>Here is your cart, <%= user.username %>!</h2>

    <% if (message) { %>
        <p class="info-msg"><%=message%> <%=groceryName%></p>
    <% } %>

    <table>
        <tr>
            <td class="td-header">Grocery item:</td>
            <td class="td-header">Quantity:</td>
            <td class="td-header">Price per unit:</td>
            <td class="td-header">Total:</td> 
            <td class="td-header">Remove item?</td> <!--TODO:-->
        </tr>
        <% itemArray.forEach((item) => { %>
        <tr> 
            <td><a href="/market/item/<%=item.id%>/shop"><%=item.name%></a></td>
            <td><%=item.quantity%></td>
            <td>$<%=item.price%></td> 
            <td>$<%=item.total%></td> 
            <td>
                <form action="/cart/<%=item.id%>/remove?_method=PUT" method="POST">
                    <button class="table-button" type="submit">Remove <%=item.name%></button>
                </form>
            </td> <!--TODO: -->
        </tr>
        <% }) %>
        <tr>
            <td>Total:</td>
            <td></td>
            <td></td> 
            <td>$<%=totalAmount%></td> 
            <td>
                <form action="/cart/clear?_method=PUT" method="POST">
                    <button class="table-button" type="submit">Clear Cart</button>
                </form>
            </td>
        </tr>
    </table>

    <form action="/cart/checkout?_method=PUT" method="POST">
        <button type="submit">Check Out Cart</button>
    </form>
    
    <%- include('../../partials/navigation/_buttons.ejs') %>

<%- include('../../partials/layout-end.ejs') %>