<%- include('../../partials/layout.ejs') %>

    <% if (message) { %>
        <p><%= message %></p>
        <ul>
            <% grocersPaid.forEach(grocer => { %>
                <li>You paid grocer <%=grocer.name%> $<%=grocer.paid%>.</li>
            <% }) %>
            <li>Your new balance is: $<%= user.balance %></li>
        </ul>
    <% } %>

    <div id="shopper-intro">
        <p id="intro-emoji">🍂</p>
        <h2>Welcome, shopper <%= user.username %>!</h2>
    </div>
    
    <%- include('../../partials/navigation/_buttons.ejs') %>


<%- include('../../partials/layout-end.ejs') %>