<%- include('../../partials/layout.ejs') %>
    
    <!-- include message -->
    <% if (message) { %>
        <p class="info-msg"><%= message %></p>
    <% } %>

    <%- include('../../partials/listings/_item.ejs') %>

    <%- include('../../partials/navigation/_buttons.ejs') %>

<%- include('../../partials/layout-end.ejs') %>